/* #############################
   Global settings
################################ */

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Courier New', Courier, monospace;
   font-weight: bolder;
   font-size: 22px;
}

h1 {
   font-size: 2.2rem;
   line-height: 2;
   margin-left: 1vw;
}

article {
   background-color: darkgray;
   margin: 0 2vw;
}

h1 + article > p {
   padding: 1vh 1vw;
}

article + article {
   padding: 1vh 2vw;
}

div {
   display: flex;
   margin: 2vh 0 4vh;
   padding: 1vh 2vw;
}

div + label {
   display: block;
}

input[type="text"] {
   font-size: 24px;
   margin: 1vh 0 3vh;
}

input[type="number"] {
   font-size: 24px;
   margin: 1vh 0 3vh;
   display: block;
}

article > label {
   display: block;
}

button + p {
   background-color: coral;
   padding: 1vh 3vw;
   margin-bottom: 1vh;
}

button {
   font-size: 24px;
   width: 300px;
   color: red;
   height: 50px;
   font-weight: bold;
   margin: 1vh 2vw;
}

#outpTxt + p {
   background-color: darkkhaki;
}

#encryption-array-output + p {
   background-color: darkkhaki;
}
   

